In [1]:
pip install virtual env

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement virtual (from versions: none)
ERROR: No matching distribution found for virtual

In [2]:
pip install env2

Requirement already satisfied: env2 in c:\users\admin\anaconda3\lib\site-packages (0.0.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install virtual-microbes

Collecting virtual-microbes
  Using cached virtual-microbes-0.3.0.tar.gz (1.3 MB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'error'
Note: you may need to restart the kernel to use updated packages.

  error: subprocess-exited-with-error

  Getting requirements to build wheel did not run successfully.
  exit code: 1

  [25 lines of output]
  Traceback (most recent call last):
    File "C:\Users\Admin\anaconda3\Lib\site-packages\pip\_vendor\pyproject_hooks\_in_process\_in_process.py", line 389, in <module>
      main()
      ~~~~^^
    File "C:\Users\Admin\anaconda3\Lib\site-packages\pip\_vendor\pyproject_hooks\_in_process\_in_process.py", line 373, in main
      json_out["return_val"] = hook(**hook_input["kwargs"])
                               ~~~~^^^^^^^^^^^^^^^^^^^^^^^^
    File "C:\Users\Admin\anaconda3\Lib\site-packages\pip\_vendor\pyproject_hooks\_in_process\_in_process.py", line 143, in get_requires_for_build_wheel
      return hook(config_settings)
    File "C:\Users\Admin\AppData\Local\Temp\pip-build-env-09h2x79z\overlay\Lib\site-packages\setuptools\build_meta.py", line 331, in get_requires_for_build_wheel
      return self._get_build_requires(config_settings, requirements=[])
             ~~~~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    File "C:\Users\Admin\AppData\Local\Temp\pip-build-env-09h2x79z\overlay\Lib\site-packages\setuptools\build_meta.py", line 301, in _get_build_requires
      self.run_setup()
      ~~~~~~~~~~~~~~^^
    File "C:\Users\Admin\AppData\Local\Temp\pip-build-env-09h2x79z\overlay\Lib\site-packages\setuptools\build_meta.py", line 512, in run_setup
      super().run_setup(setup_script=setup_script)
      ~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^
    File "C:\Users\Admin\AppData\Local\Temp\pip-build-env-09h2x79z\overlay\Lib\site-packages\setuptools\build_meta.py", line 317, in run_setup
      exec(code, locals())
      ~~~~^^^^^^^^^^^^^^^^
    File "<string>", line 49
      print "Cython = \t\t[OKAY]"
      ^^^^^^^^^^^^^^^^^^^^^^^^^^^
  SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)?
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
ERROR: Failed to build 'virtual-microbes' when getting requirements to build wheel

In [4]:
pip install virtual-less

Collecting virtual-less
  Using cached virtual-less-0.0.1a.tar.gz (42 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'error'
Note: you may need to restart the kernel to use updated packages.

  error: subprocess-exited-with-error

  Getting requirements to build wheel did not run successfully.
  exit code: 1

  [23 lines of output]
  Traceback (most recent call last):
    File "C:\Users\Admin\anaconda3\Lib\site-packages\pip\_vendor\pyproject_hooks\_in_process\_in_process.py", line 389, in <module>
      main()
      ~~~~^^
    File "C:\Users\Admin\anaconda3\Lib\site-packages\pip\_vendor\pyproject_hooks\_in_process\_in_process.py", line 373, in main
      json_out["return_val"] = hook(**hook_input["kwargs"])
                               ~~~~^^^^^^^^^^^^^^^^^^^^^^^^
    File "C:\Users\Admin\anaconda3\Lib\site-packages\pip\_vendor\pyproject_hooks\_in_process\_in_process.py", line 143, in get_requires_for_build_wheel
      return hook(config_settings)
    File "C:\Users\Admin\AppData\Local\Temp\pip-build-env-pofq1rje\overlay\Lib\site-packages\setuptools\build_meta.py", line 331, in get_requires_for_build_wheel
      return self._get_build_requires(config_settings, requirements=[])
             ~~~~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    File "C:\Users\Admin\AppData\Local\Temp\pip-build-env-pofq1rje\overlay\Lib\site-packages\setuptools\build_meta.py", line 301, in _get_build_requires
      self.run_setup()
      ~~~~~~~~~~~~~~^^
    File "C:\Users\Admin\AppData\Local\Temp\pip-build-env-pofq1rje\overlay\Lib\site-packages\setuptools\build_meta.py", line 512, in run_setup
      super().run_setup(setup_script=setup_script)
      ~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^
    File "C:\Users\Admin\AppData\Local\Temp\pip-build-env-pofq1rje\overlay\Lib\site-packages\setuptools\build_meta.py", line 317, in run_setup
      exec(code, locals())
      ~~~~^^^^^^^^^^^^^^^^
    File "<string>", line 6, in <module>
  ModuleNotFoundError: No module named 'cStringIO'
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
ERROR: Failed to build 'virtual-less' when getting requirements to build wheel

In [5]:
pip install virtual-node

Collecting virtual-node
  Using cached virtual-node-0.1.0.tar.gz (7.2 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'error'
Note: you may need to restart the kernel to use updated packages.

  error: subprocess-exited-with-error

  Getting requirements to build wheel did not run successfully.
  exit code: 1

  [23 lines of output]
  Traceback (most recent call last):
    File "C:\Users\Admin\anaconda3\Lib\site-packages\pip\_vendor\pyproject_hooks\_in_process\_in_process.py", line 389, in <module>
      main()
      ~~~~^^
    File "C:\Users\Admin\anaconda3\Lib\site-packages\pip\_vendor\pyproject_hooks\_in_process\_in_process.py", line 373, in main
      json_out["return_val"] = hook(**hook_input["kwargs"])
                               ~~~~^^^^^^^^^^^^^^^^^^^^^^^^
    File "C:\Users\Admin\anaconda3\Lib\site-packages\pip\_vendor\pyproject_hooks\_in_process\_in_process.py", line 143, in get_requires_for_build_wheel
      return hook(config_settings)
    File "C:\Users\Admin\AppData\Local\Temp\pip-build-env-4va0c1vy\overlay\Lib\site-packages\setuptools\build_meta.py", line 331, in get_requires_for_build_wheel
      return self._get_build_requires(config_settings, requirements=[])
             ~~~~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    File "C:\Users\Admin\AppData\Local\Temp\pip-build-env-4va0c1vy\overlay\Lib\site-packages\setuptools\build_meta.py", line 301, in _get_build_requires
      self.run_setup()
      ~~~~~~~~~~~~~~^^
    File "C:\Users\Admin\AppData\Local\Temp\pip-build-env-4va0c1vy\overlay\Lib\site-packages\setuptools\build_meta.py", line 512, in run_setup
      super().run_setup(setup_script=setup_script)
      ~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^
    File "C:\Users\Admin\AppData\Local\Temp\pip-build-env-4va0c1vy\overlay\Lib\site-packages\setuptools\build_meta.py", line 317, in run_setup
      exec(code, locals())
      ~~~~^^^^^^^^^^^^^^^^
    File "<string>", line 28, in <module>
  ModuleNotFoundError: No module named 'setuptools.sandbox'
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
ERROR: Failed to build 'virtual-node' when getting requirements to build wheel

In [9]:
pip install env

Requirement already satisfied: env in c:\users\admin\anaconda3\lib\site-packages (0.1.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import numpy as np

In [8]:
import pandas as pd

In [13]:
df=pd.read_csv(r"C:\Users\Admin\Documents\python\top tech\real time.csv")

In [14]:
df

,Input,Input.1,Input.2,Input.3,Input.4,Input.5,Input.6,Input.7,Input.8,Input.9,Input.10,Input.11,Input.12,Output
0,branch,emp id,experience,percentage,Salary,resume,performance,address,NaN,NaN,NaN,NaN,NaN,Eligible/not Eligible
1,manager,5001,4yr,90%,60000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Eligible
2,ass manager,5002,3yr,80%,53000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Eligible
3,project manager,5003,3yr,79%,60000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not Eligible
4,manager,5004,5yr,91%,66000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Eligible
5,team leader,5005,4yr,85%,50000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Eligible
6,security dept,5006,2yr,80%,57000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not Eligible
7,team leader,5007,1yr,76%,60000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not Eligible
8,team leader,5008,5yr,95%,80000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Eligible
9,project manager,5009,4yr,85%,66000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Eligible
10,ass manager,5010,3yr,82%,55000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Eligible

In [17]:
df.head(3)

,Input,Input.1,Input.2,Input.3,Input.4,Input.5,Input.6,Input.7,Input.8,Input.9,Input.10,Input.11,Input.12,Output
0,branch,emp id,experience,percentage,Salary,resume,performance,address,NaN,NaN,NaN,NaN,NaN,Eligible/not Eligible
1,manager,5001,4yr,90%,60000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Eligible
2,ass manager,5002,3yr,80%,53000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Eligible

In [18]:
df.tail()

,Input,Input.1,Input.2,Input.3,Input.4,Input.5,Input.6,Input.7,Input.8,Input.9,Input.10,Input.11,Input.12,Output
6,security dept,5006,2yr,80%,57000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not Eligible
7,team leader,5007,1yr,76%,60000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not Eligible
8,team leader,5008,5yr,95%,80000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Eligible
9,project manager,5009,4yr,85%,66000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Eligible
10,ass manager,5010,3yr,82%,55000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Eligible

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Input     11 non-null     object
 1   Input.1   11 non-null     object
 2   Input.2   11 non-null     object
 3   Input.3   11 non-null     object
 4   Input.4   11 non-null     object
 5   Input.5   1 non-null      object
 6   Input.6   1 non-null      object
 7   Input.7   1 non-null      object
 8   Input.8   0 non-null      float64
 9   Input.9   0 non-null      float64
 10  Input.10  0 non-null      float64
 11  Input.11  0 non-null      float64
 12  Input.12  0 non-null      float64
 13  Output    11 non-null     object
dtypes: float64(5), object(9)
memory usage: 1.3+ KB

In [20]:
df.describe()

       Input.8  Input.9  Input.10  Input.11  Input.12
count      0.0      0.0       0.0       0.0       0.0
mean       NaN      NaN       NaN       NaN       NaN
std        NaN      NaN       NaN       NaN       NaN
min        NaN      NaN       NaN       NaN       NaN
25%        NaN      NaN       NaN       NaN       NaN
50%        NaN      NaN       NaN       NaN       NaN
75%        NaN      NaN       NaN       NaN       NaN
max        NaN      NaN       NaN       NaN       NaN

In [27]:
df.columes()

AttributeError: 'DataFrame' object has no attribute 'columes'